<div>
  <h1 class="font-bold text-4xl">Posts#index</h1>
  <p class="mb-4">Find me in app/views/posts/index.html.erb</p>

  <div class="mb-4">
    <%= link_to "New Post", new_post_path, class: "bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-6 rounded shadow-md transition duration-200" %>
  </div>

  <%# Loop through all the @posts and show you the title and give you a
  link to them in a table %>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2 text-left">ID</th>
        <th class="px-4 py-2 text-left">タイトル</th>
        <th class="px-4 py-2 text-left">作成者</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="border px-4 py-2 text-gray-500"><%= post.id %></td>
          <td class="border px-4 py-2 font-medium">
            <%= link_to post.title, post_path(post), class: "text-blue-600 hover:text-blue-800 hover:underline" %>
          </td>
          <td class="border px-4 py-2 text-sm text-gray-600"><%= post.user.email_address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
